<?xml version="1.0" encoding="utf-8"?>
<config>
    <!--  host="192.168.92.61" port="8080" protocal="http" path="" -->
	<updateFileServer url="">
	</updateFileServer>
	<!-- 
	192.168.2.100
	192.168.92.61
	111.1.45.158
	 -->
	<pushMessageServer host="111.1.45.158" port="8888">
	    
	</pushMessageServer>
	
	<!-- level: verbose 1,info 2,warn 3, error 4, off 5 -->
	<logConfig output="" level="info">
		<moduleLog>
			<module name="login"></module>
			<module name="splashscreen"></module>
			<module name="upgrade"></module>
			<module name="base"></module>
			<module name="message"></module>
			<!-- <module name="contact"></module> -->
			<module name="setting"></module>
		</moduleLog>	
	</logConfig>
	
	<resDir
	    apkDir="/maw/apk/"  />
	
</config>	